.module-list {
    overflow: hidden scroll;

    .add-module {
        padding: .75em;
        display: flex;
        justify-content: center;
        align-items: center;

        & > button {
            margin: 0;
            padding: 0;
            border: none;
            background: var(--separator);
            width: 3em;
            height: 3em;
            border-radius: 50%;
            position: relative;
            color: inherit;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 1.5em;
                height: 2px;
                background: currentColor;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }

            &:active {
                opacity: 0.5;
            }
        }
    }
}

.module-item {
    background: var(--item-bg);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;

    &.is-selected {
        background: var(--item-selected-bg);
    }

    &.is-receiving-selected {
        &::before {
            content: '';
            position: absolute;
            border: 1em solid transparent;
            margin-top: -1em;
            border-left-color: var(--accent);
            top: 50%;
            left: 0;

            animation: module-list-item-receiving-selected 3s infinite;
            @keyframes module-list-item-receiving-selected {
                0% {
                    transform: translateX(-1em);
                    opacity: 0;
                }
                40%, 70% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: none;
                }
            }
        }
    }

    &.is-sending-to-selected {
        &::before {
            content: '';
            position: absolute;
            border: 0.5em solid transparent;
            margin-top: -0.5em;
            border-left-color: var(--accent);
            bottom: 1em;
            right: 0;

            animation: module-list-item-sending-to-selected 3s infinite;
            @keyframes module-list-item-sending-to-selected {
                0% {
                    transform: none;
                    opacity: 0;
                }
                40%, 70% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: translateX(1em);
                }
            }
        }
    }

    & > .i-header {
        padding: .3em .5em;
        display: flex;
        justify-content: space-between;

        & > .i-title {
            & > .i-remove {
                font: inherit;
                margin: 0;
                padding: 0;
                border: none;
                background: none;
                width: 1.5em;
                height: 1.5em;
                border-radius: .5em;
                color: inherit;
                border: 1px solid var(--accent);
                position: relative;
                vertical-align: 0.3em;

                &:active {
                    background: var(--accent);
                    color: var(--accent-content-fg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0.8em;
                    height: 1.5px;
                    transform: translate(-50%, -50%);
                    background: currentColor;
                }
            }

            & > .i-index {
                display: inline-block;
                font-weight: bold;
                min-width: 2em;
                text-align: right;
                font-feature-settings: 'tnum' 1;
            }
            & > .i-label {
                margin-left: .5em;
            }
        }
    }

    & > .i-editor {
        position: relative;
        padding: .3em .5em;
        padding-left: 2.3em;

        &:empty {
            display: none;
        }
    }

    & > .i-footer {
        position: relative;

        & > .i-sends {
            padding: .3em .5em;
            display: flex;

            & > .i-label {
                font-size: smaller;
                margin-right: .5em;
                line-height: 1.8;
            }

            & > .i-list {
                margin: 0;
                padding: 0;
                list-style: none;

                & > .i-send-target {
                    display: inline-block;

                    select {
                        width: 8em;
                    }
                }
            }
        }
    }
}
